/*-----------------------------------*/
/* main.css: Add and override styles */
/*-----------------------------------*/

/* Override Primary Button color 
.btn-primary {
  background-color: #FF8E00;
  border-color: #FF8E00;
}
*/

/* Override Primary Background color 
.bg-primary {
  background-color: #FF8E00 !important;
}
*/

/* Override fa-twitter icon 
.fa-twitter:before {
          content:"\f099";
            color: white;
 background-color: blue;
}
*/