/*-----------------------------------*/
/* main.css: Add and override styles */
/*-----------------------------------*/

/* add vertical border */
#right_column {
  border-left: solid 3px #fff;
}

/* add vertical border */
.form-control {
  width: 50%;
}

/* add width of input box */
#get_username {
  max-width: 33%;
}

/* add width of input box */
#username_answer {
  max-width: 33%;
}

/* centre table in page */
table {
  margin: 0 auto;
}

ul {
  margin-top: 10px;
  padding-bottom: 0;
  padding-top: 0;
}