<!DOCTYPE html>
<html lang="en">

<head>
                                                          <title> Practical Python Project "GEOGRAPHY_1_QUIZ.HTML" (Paul Bennett) </title>
    <!-- Include standard links                       --> {% include 'head.html' %}                                                       
    <!-- My Custom styles for this template           --> <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my-creative.css') }}"> 
</head>
 
<body> 
<!-- Bootstrap theme (Creative) downloaded from  https://github.com/BlackrockDigital/startbootstrap-creative -->
    <body id="page-top">
    <!-- Navigation Navbar -->
    {% include 'navbar_quiz.html' %}
      
    <div class="container-fluid">
        <div class="row">
			  <div class="col-md-5 mb-5 mb-lg-0">
    			<h2 class="text-center text-uppercase text-white"> {{ category }} Quiz </h2>
    			<hr class="light mb-4">
    			<img class="rounded mx-auto img-thumbnail" src="{{ img_id }}" alt="{{ category }}">
    			<h3  Welcome <span style="text-decoration:underline" > {{ username }} </span> </h3> </br>
    			<h3  class="text-center text-uppercase text-white"> How many capitals do you know in the countries of {{ category }} </h3> </br>
			  </div>
		
			 <div class="col-md-7 mb-7 mb-lg-0" id="right_column">
    		    <h3>    Q{{ geography1_data[index]["question_number"] }}.&nbsp;{{ geography1_data[index]["question"] }} </h3>
    			<img src={{ geography1_data[index]["image_source"] }} alt="geography_1_jpgs">
    			<div>
    				<h4 id="options">
    				1. {{ geography1_data[index]["option_a"] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    				2. {{ geography1_data[index]["option_b"] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    				3. {{ geography1_data[index]["option_c"] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    				4. {{ geography1_data[index]["option_d"] }}
    				</h4>
    		  </div>
    		  
    			<form method="POST">
    				<div class="input-group">
          			<input id="user_answer" type="text" class="form-control" name="user_answer" placeholder="Enter your answer here" autofocus>
          			<input type="hidden" name="index" id="index" value={{ index }}>
          			<input type="hidden" name="score" id="score" value={{ score }}>
          			<input type="hidden" name="correct_answer" id="correct_answer" value={{ correct_answer }}>
          			</div></br>
          			<button name="redirect" class="btn btn-info" value="Redirect"> Submit </button>
			    </form> </br>
			    
				<h3> Your current score is <span style="color:#343A40" > {{ score }} </span> out of 10 </h3>
				<p style="color:#343A40; font-size:24px">
				{% if user_answer  != correct_answer %} <!-- not sure how if statement can work here -->
              	{% for incorrect in incorrect_answer %}
               	{{ incorrect }} {{ message1 }} <span style="text-decoration:underline;font-weight:bold" > {{ previous_answer }} </span> </br>
               	{{ message2 }}
               	{% endfor %}
               	{% endif %}
               	</p>
			</div>
    
      </div>
	</div>
    
    <!-- Footer -->
    {% include 'footer.html' %}
    
    <!-- Script -->
    {% include 'script.html' %} 
 
 </body>
 
</html>  